node_modules/
*.log
.git/
.nyc_output/
coverage/
.nyc_output/
.DS_Store
.nvmrc
.editorconfig
.eslintignore
.eslintrc.js
.github/
.idea/
.nycrc
.prettierignore
.prettierrc.js
.stylelintignore
.stylelintrc.json
__tests__/
.gitignore
.env
.env.example
test/
*.md
*.tgz
!python/